.paymentContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  margin: 2vmax auto;
  width: 40vw;
  background-color: #EDF2F7;
  padding: 70px 24px;
  border-radius: 16px;

}

.paymentForm {
  width: 100%;
  height: 100%;
}


.paymentForm > p {
  font: 400 2vmax "Roboto";
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 1vmax 0 2vmax;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  outline: none;
}

.paymentInput:hover {
  border: 1px solid #cbd5e0;
}


.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}



@media screen and (max-width: 900px) {
  .paymentContainer {
    width: 70vw;
  }
}

@media screen and (max-width: 750px) {
  .paymentContainer {
    width: 90vw;
  }
}

